.yukipic {
    height: 625px;
    border-radius: 312.5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  img {
    height: 18px;
    width: 25px;
    padding-left: 5px;
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
  body {
    background-color: #fff0f5;
  }
  .body_text {
    margin-left: 100px;
  }